<div class="home">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 style="color: rgb(26, 26, 161);">ВМЕСТЕ МЫ СМОЖЕМ СОЕДИНИТЬ ЛУЧШЕЕ –</h2>
    <h2 style="color: rgb(26, 26, 161);">ВОЗМОЖНОСТИ ГОСУДАРСТВА И ИДЕИ БИЗНЕСА!</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div style="width: 100%;height: 10%;background-color: blue;color: #fff;" id="contacts">
    <table style="width: 100%;">
        <tr>
            <td style="width: 15%; padding: 25px;" rowspan="2">
                <a [routerLink]="'/'">
                    <img src="assets/images/logoSPK.png" style="width: 60px; height: 80px;"/>
                </a>
            </td>
            <td align="left" style="width: 70%;" rowspan="2">
                город Нур-Султан, улица Азербайжан Мамбетова 24, 
                <br>
                Бизнес-центр Аффари 7, 8 Этаж
                <br>
                Телефон: 55-29-93
                <br>
                Факс: 55-29-89
                <br>
                Электронный адрес: info@astana-spk.kz
            </td>
            <td align="right" style="width: 15%;">
            </td>
        </tr>
        <tr>
            <td style="width: 15%;" align="right">
                <br>
                <br>
                <br>
                Все права защищены
                <br>
                © astana-spk.kz
            </td>
        </tr>
    </table>
</div>
