<div class="container-fluid" style="background-color: blue;width: 100%;height: 10%;">
    &nbsp;
</div>
<div>
    <table>
        <tr>
            <td align="center">
                <b style="color: rgb(26, 26, 161); align-self: center;">Памятка Партнера</b>
            </td>
        </tr>
        <tr>
            <td align="left" style="padding: 1%;">
                Акционерное общество «Социально – предпринимательская корпорация «Astana» (далее – АО «СПК «Astana») является региональным
                институтом развития, основной целью деятельности которого является содействие индустриально-инновационному, социально-экономическому развитию города Астаны, Республики Казахстан путем консолидации государственных и частных ресурсов, осуществление инвестиционной деятельности. Единственным акционером АО «СПК «Astana» является акимат г. Нур-Султан.
            </td>
        </tr>
        <tr>
            <td align="center">
                <b style="color: rgb(26, 26, 161); align-self: center;">Условия совместной деятельности с субъектами частного предпринимательства</b>
            </td>
        </tr>
        <tr>
            <td align="left" style="padding: 1%;">
                Сотрудничество между АО «СПК «Astana» и субъектами частного предпринимательства (далее – Инициатор) осуществляется в форме создания совместного предприятия и передачи активов в качестве вкладов в уставный капитал/по Договору о совместной деятельности. Активами АО «СПК «Astana» и Инициатора могут быть денежные средства, недвижимое имущество, земельные участки и другие ликвидные активы.            
            </td>
        </tr>
        <tr>
            <td align="center">
                <b style="color: rgb(26, 26, 161); align-self: center;">Процесс рассмотрения инвестиционных проектов ведется онлайн, для создания заявки зарегистрируйтесь на сайте.</b>
            </td>
        </tr>
        <tr>
            <td align="center">
                <b style="color: rgb(26, 26, 161); align-self: center;">Скачать “Памятку партнера”</b>
            </td>
        </tr>
    </table>
    
</div>
